/* index (nav bar) */
.error-message {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.error-message h1 {
    color: red;
    font-size: 25px;
}

.error-message p {
    color: black;
    font-size: 12px;
}